---
layout: documentation
title: "Accordions"
tags:
    Toggle
    Panel
    Show/hide
---

<div class="container narrow margin-y-4">
    <p>
        Accordions are useful when a page covers several different topics. A good example would be an FAQ page. It's
        best to avoid using accordions to make long pages appear shorter.
    </p>
</div>
<!-- .container -->

{% capture as_body %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quasi alias culpa quisquam deserunt nobis
    molestiae.
</p>
{% endcapture %}

{% include accessibility-spotlight.html content=as_body %}

<hr class="section-start" id="defaultBehavior">

<div class="container narrow margin-y-4">
    <h2>Default Behavior</h2>
    <p>
        The following is a basic accordion in Natura11y. Accordion panels are closed by default.
    </p>
</div>
<!-- .container -->

<figure class="container narrow margin-y-4">
    <div class="accordion">

        <button class="accordion__button h5" id="acc-button-lion" data-toggle="accordion" aria-controls="acc-panel-lion" aria-expanded="false">
            Lion
        </button>

        <div class="accordion__panel" id="acc-panel-lion" data-accordion="panel" aria-labelledby="acc-button-lion" role="region">

            <div class="accordion__panel__content">
                <p>
                    The lion (Panthera leo) is a large felid of the genus Panthera native mainly to
                    <a href="#1">Africa</a>. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions have a prominent mane. With a typical head-to-body length of 184 to 208 cm (72 to 82 in) they are larger than females at 160 to 184 cm (63 to 72 in). It is a social species, forming groups called prides.
                </p>
            </div>

        </div>

        <button class="accordion__button h5" id="acc-button-leopard" data-toggle="accordion" aria-controls="acc-panel-leopard" aria-expanded="false">
            Leopard
        </button>

        <div class="accordion__panel" id="acc-panel-leopard" data-accordion="panel" aria-labelledby="acc-button-leopard" role="region">

            <div class="accordion__panel__content">
                <p>
                    The leopard (Panthera pardus) is one of the five extant species in the genus Panthera, a member of the cat family, Felidae. It occurs in a wide range in sub-Saharan Africa, in some parts of Western and Central Asia, Southern Russia, and on the Indian subcontinent to Southeast and East Asia. It is listed as Vulnerable on the IUCN Red List because leopard populations are threatened by habitat loss and fragmentation, and are declining in large parts of the global range. The leopard is considered locally extinct in Hong Kong, Singapore, South Korea, Jordan, Morocco, Togo, the United Arab Emirates, Uzbekistan, Lebanon, Mauritania, Kuwait, Syria, Libya, Tunisia and most likely in North Korea, Gambia, Laos, Lesotho, Tajikistan, Vietnam and Israel. Contemporary records suggest that the leopard occurs in only 25% of its historical global range.
                </p>
            </div>

        </div>

        <button class="accordion__button h5" id="acc-button-elephant" data-toggle="accordion" aria-controls="acc-panel-elephant" aria-expanded="false">
            Cheetah
        </button>

        <div class="accordion__panel" id="acc-panel-elephant" data-accordion="panel" aria-labelledby="acc-button-elephant" role="region">

            <div class="accordion__panel__content">
                <p>
                    Elephants are the largest existing land animals. Three species are currently recognised: the African bush elephant, the African forest elephant, and the Asian elephant. Elephantidae is the only surviving family of the order Proboscidea; extinct members include the mastodons. The family Elephantidae also contains several extinct groups, including the mammoths and straight-tusked elephants. African elephants have larger ears and concave backs, whereas Asian elephants have smaller ears, and convex or level backs. Distinctive features of all elephants include a long proboscis called a trunk, tusks, large ear flaps, massive legs, and tough but sensitive skin.
                </p>
            </div>

        </div>
        <button class="accordion__button h5" id="acc-button-bison" data-toggle="accordion" aria-controls="acc-panel-bison" aria-expanded="false">
            Caracal
        </button>

        <div class="accordion__panel" id="acc-panel-bison" data-accordion="panel" aria-labelledby="acc-button-bison" role="region">

            <div class="accordion__panel__content">
                <p>
                    Two extant and six extinct species are recognised. Of the six extinct species, five became extinct in the Quaternary extinction event. Bison palaeosinensis evolved in the Early Pleistocene in South Asia, and was the evolutionary ancestor of B. priscus (steppe bison), which was the ancestor of all other Bison species. From 2 million years ago to 6,000 BC, steppe bison ranged across the mammoth steppe, inhabiting Europe and northern Asia with B. schoetensacki (woodland bison), and North America with B. antiquus, B. latifrons, and B. occidentalis.
                </p>
            </div>

        </div>

        <button class="accordion__button h5" id="acc-button-rhinoceros" data-toggle="accordion" aria-controls="acc-panel-rhinoceros" aria-expanded="false">
            Serval
        </button>

        <div class="accordion__panel" id="acc-panel-rhinoceros" data-accordion="panel" aria-labelledby="acc-button-rhinoceros" role="region">

            <div class="accordion__panel__content">
                <p>
                    A rhinoceros (/raɪˈnɒsərəs/, from Greek rhinokerōs 'nose-horned', from rhis 'nose', and keras 'horn'), commonly abbreviated to rhino, is a member of any of the five extant species of odd-toed ungulates in the family Rhinocerotidae, as well as any of the numerous extinct species therein. Two of the extant species are native to Africa, and three to Southern Asia. The term "rhinoceros" is often more broadly applied to now extinct species of the superfamily Rhinocerotoidea.
                </p>
            </div>

        </div>

    </div>
    <!-- .accordion -->
</figure>

<figure class="container medium margin-y-4">
    <pre data-line="1, 3,4,5,6,7,8,9,10, 12,13,14,15,16,17,18,19,20,21" data-keywords="Header">
        <code class="language-html">
            &lt;div class="accordion"&gt;

                &lt;button
                    class="accordion__button h5"
                    id="acc-button-id"
                    data-toggle="accordion"
                    aria-controls="acc-panel-id"
                    aria-expanded="false"&gt;
                        Header
                &lt;/button&gt;

                &lt;div
                    class="accordion__panel"
                    id="acc-panel-id"
                    data-accordion="panel"
                    aria-labelledby="acc-button-id"
                    role="region"&gt;
                    &lt;div class="accordion__panel__content"&gt;
                        ...
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;!-- Repeat pair above as needed --&gt;

            &lt;/div&gt;
        </code>
    </pre>
    <figcaption>
        <p>Figure 1</p>
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <caption class="screen-reader-only">
            Accordion Code Description
        </caption>
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>1</td>
                <td>
                    <p>
                        The parent <code>.accordion</code> class is required. This selector uses JavaScript to group a set of topics (accordion headers) with one another.
                    </p>
                </td>
            </tr>
            
            <tr>
                <td>3-10</td>
                <td>
                    <p>
                        The child <code>.accordion__button</code> selector is required.
                    </p>
                    <p>
                        The <code>id</code> attribute equals the value of its associated panel's <code>aria-labelledby</code> attribute.
                    </p>
                    <p>
                        The <code>data-toggle="accordion"</code> attribute is present on the accordion button for JavaScript purposes.
                    </p>
                    <p>
                        The <code>aria-controls</code> attribute equals its associated panel's <code>id</code> attribute. 
                    </p>
                    <p>
                        The <code>aria-expanded="false"</code> attribute is present on the button where its associated
                        accordion panel should be closed when the page loads.
                    </p>
                </td>
            </tr>
            <tr>
                <td>12-20</td>
                <td>
                    <p>
                        The child <code>.accordion__panel</code> selector is required.
                    </p>
                    <p>
                        The <code>id</code> attribute equals the value of its associated button's <code>aria-controls</code> attribute.
                    </p>
                    <p>
                        The <code>data-accordion="panel"</code> attribute is present on the accordion panel for JavaScript purposes.
                    </p>
                    <p>
                        The <code>aria-labelledby</code> attribute equals the value of its associated buttons's <code>id</code> attribute.
                    </p>
                    <p>
                        The <code>role="region"</code> attribute is present on the accordion panel for assistive technology.
                    </p>
                    <p>
                        The granchild <code>.accordion__panel__content</code> selector holds the panel's content. Padding applied to this selector allows a clean open and close transition, without using jQuery.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="semanticHeaders">

<div class="container narrow margin-y-4">
    <h2>Semantic Headers</h2>
    <p>
        The the <code>.accordion__button</code> selector doesn't have to be a button tag. In fact, header tags in the
        accordion help describe the architecture of a page. For example, if an accordion group lives below a page's
        <code>&lt;h1&gt;</code>, the accordion headers could be <code>&lt;h2&gt;</code> tags.
    </p>
</div>
<!-- .container -->

<figure class="container narrow margin-y-4">
    <pre class="hide-toolbar" data-line="2">
        <code class="language-html">
            &lt;h2
                class="accordion__button h5"
                id="..."
                data-toggle="accordion"
                aria-controls="..."
                aria-expanded="false"&gt;
                    Header
            &lt;/h2&gt;
        </code>
    </pre>
    <figcaption>
        <p>
            Figure 2
        </p>
    </figcaption>
</figure>

<div class="container narrow margin-y-4">
    <p>
        In Figure 2 (line 2) notice the <code>.h5</code> class. Header utility classes are particularly useful in this example. When a
        semantic header (e.g. <code>&lt;h1&gt;</code>) needs to be smaller (in visual size) than its natural markup style. You can use
            header utilities on non-semantic tags (e.g., <code>&lt;button&gt;</code>), that need the appearance of a header.
    </p>
</div>
<!-- .container -->

<hr class="section-start" id="openByDefault">

<div class="container narrow margin-y-4">
    <h2>Open by Default</h2>
    <p>
        You may want one of your accordion topics to be open by default (when the page loads), like the following example:
    </p>
</div>
<!-- .container -->

<figure class="container narrow margin-y-4">
    <div class="accordion">

        <button
            class="accordion__button h5"
            id="acc-button-boroughs-manhattan"
            data-toggle="accordion"
            aria-controls="acc-panel-boroughs-manhattan"
            aria-expanded="true">
                Manhattan
        </button>

        <div
            class="accordion__panel show"
            id="acc-panel-boroughs-manhattan"
            data-accordion="panel"
            aria-labelledby="acc-button-boroughs-manhattan"
            role="region">
            <div class="accordion__panel__content">
                <p>
                    New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is <a href="#1">Manhattan</a>, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park.
                </p>
            </div>
        </div>

        <button
            class="accordion__button h5"
            id="acc-button-boroughs-the-bronx"
            data-toggle="accordion"
            aria-controls="acc-panel-boroughs-the-bronx"
            aria-expanded="false">
                The Bronx
        </button>

        <div
            class="accordion__panel"
            id="acc-panel-boroughs-the-bronx"
            data-accordion="panel"
            aria-labelledby="acc-button-boroughs-the-bronx"
            role="region">
            <div class="accordion__panel__content">
                <p>
                    The Bronx is a borough of New York City. It's known for Yankee Stadium, the home field of the New York Yankees baseball team. Dating from 1899, the vast Bronx Zoo houses hundreds of species of animals. Nearby, the sprawling New York Botanical Garden features a landmark greenhouse with rainforest and cactus displays.
                </p>
            </div>
        </div>

        <button
            class="accordion__button h5"
            id="acc-button-boroughs-brooklyn"
            data-toggle="accordion"
            aria-controls="acc-panel-boroughs-brooklyn"
            aria-expanded="false">
                Brooklyn
        </button>

        <div
            class="accordion__panel"
            id="acc-panel-boroughs-brooklyn"
            data-accordion="panel"
            aria-labelledby="acc-button-boroughs-brooklyn"
            role="region">
            <div class="accordion__panel__content">
                <p>
                    Brooklyn is a borough of New York City, co-extensive with Kings County, in the U.S. state of New York. It is the most-populous county in the state, the second-most densely populated county in the United States, and New York City's most populous borough, with an estimated 2,648,403 residents in 2020.
                </p>
            </div>
        </div>

        <button
            class="accordion__button h5"
            id="acc-button-boroughs-queens"
            data-toggle="accordion"
            aria-controls="acc-panel-boroughs-queens"
            aria-expanded="false">
                Queens
        </button>

        <div
            class="accordion__panel"
            id="acc-panel-boroughs-queens"
            data-accordion="panel"
            aria-labelledby="acc-button-boroughs-queens"
            role="region">
            <div class="accordion__panel__content">
                <p>
                    Queens is a New York City borough on Long Island across the East River from Manhattan. Flushing Meadows Corona Park, with the Unisphere, a 12-story 1964 World's Fair globe sculpture, hosts the annual U.S. Open tennis tournament.
                </p>
            </div>
        </div>

        <button
            class="accordion__button h5"
            id="acc-button-boroughs-staten-island"
            data-toggle="accordion"
            aria-controls="acc-panel-boroughs-staten-island"
            aria-expanded="false">
            Staten Island
        </button>

        <div
            class="accordion__panel"
            id="acc-panel-boroughs-staten-island"
            data-accordion="panel"
            aria-labelledby="acc-button-boroughs-staten-island"
            role="region">
            <div class="accordion__panel__content">
                <p>
                    Staten Island is the southernmost of New York City's 5 boroughs. It is connected to Lower Manhattan via the Staten Island Ferry, which runs across New York Harbor. Staten Island Zoo is home to kangaroos, birds of prey and snakes. The Snug Harbor Cultural Center and Botanical Garden features flower beds, Greek revival buildings and art galleries.
                </p>
            </div>
        </div>

    </div>
</figure>

<figure class="container medium margin-y-4">
    <pre data-line="6,11">
        <code class="language-html">
            <pre class="hide-toolbar" data-line="6,11">
                <code class="language-html">
                    &lt;button
                        class="accordion__button h5"
                        id="acc-button-id"
                        data-toggle="accordion"
                        aria-controls="acc-panel-id"
                        aria-expanded="true"&gt;
                            Manhattan
                    &lt;/button&gt;

                    &lt;div
                        class="accordion__panel show"
                        id="acc-panel-id"
                        data-accordion="panel"
                        aria-labelledby="acc-button-id"
                        role="region"&gt;
                        &lt;div class="accordion__panel__content"&gt;
                            ...
                        &lt;/div&gt;
                    &lt;/div&gt;
                </code>
            </pre>
        </code>
    </pre>
    <figcaption>
        <p>Figure 3</p>
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <caption class="screen-reader-only">
            Accordion Code Description
        </caption>
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
    
            <tr>
                <td>6</td>
                <td>
                    <p>
                        On the <code>.accordion__button</code> selector, set the <code>aria-expanded</code> attribute to <code>"true"</code>
                    </p>
                </td>
            </tr>
            
            <tr>
                <td>11</td>
                <td>
                    <p>
                        On the related <code>.accordion__panel</code> selector, include the class <code>.show</code>.
                    </p>
                </td>
            </tr>
        
        </tbody>
    </table>
</figure>

{% include related-css-vars.html anchor="accordions" %}